# Dependencies
node_modules
.pnpm-store

# Build output
dist
.astro
.vercel

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE files
.vscode
.idea
*.sublime-project
*.sublime-workspace
