@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Frunchy Sage';
  src: url('/fonts/frunchy-sage.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lumberjack';
  src: url('/fonts/lumberjack.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-size: 110%; /* Globally scale REM units for larger typography */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply bg-bg selection:bg-accent selection:text-white font-serif;
    line-height: 1.6;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 1.1;
  }
  strong, .font-bold {
    font-weight: 700;
  }
}
