@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Frunchy Sage';
  src: url('/fonts/frunchy-sage.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lumberjack';
  src: url('/fonts/lumberjack.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-bg selection:bg-accent selection:text-white;
  }
}
